@import "assets/styles/variables.scss";

.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid $border-light-grey;
    width: 500px;

    .search-tag {
        padding: 6px;
        font-size: 12px;
        background-color: $light-grey;
        color: $text-grey;
        border-radius: 4px;
    }

    .search-input {
        border: none;
        outline: none;
        font-family: $bloomreach-sans;

        &::placeholder {
            color: $text-placeholder;
            font-weight: normal;
        }
    }
}

.options-container {
    max-height: 304px;
    overflow: auto;
}
