$brand-primary: #ffd500;
$brand-secondary: #002840;

$text-primary: #002840;
$text-grey: #707077;
$text-light-grey: #9793ac;
$text-placeholder: #aeabbc;
$text-dark-red: #ff6e97;
$text-light-blue: #2ec7de;

$border-light-grey: lightgrey;

$light-grey: #f9f6fe;
$grey: #d6d6d8;
$white: white;

$elevation-1: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
$elevation-2: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);

$bloomreach-sans: 'Bloomreach Sans', 'Montserrat', sans-serif;
